<h1>{{todo.title | uppercase}}</h1>
<div *ngIf="!editMode">
  <div><span>title: </span>{{todo.title}}</div>
  <div><span>description: </span>{{todo.description}}</div>
  <button mat-raised-button color="primary" (click)="editMode = true">Edit</button>
</div>
<div *ngIf="editMode">
  <label>title:
    <input [(ngModel)]="todo.title" placeholder="title">
  </label>
  <label>description:
    <input [(ngModel)]="todo.description" placeholder="description">
  </label>
  <button mat-raised-button color="primary" (click)="editMode = false">Save</button>
</div>
